<!DOCTYPE html>
<html>
<head>
    <title>Random Quotes Generator</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
<div class="container">
    <p class="quote">"<%=quote.quote%>"</p>
    <p class="author">~<%=quote.author%></p>
</div>
</body>
</html>