<!DOCTYPE html>
<html>
<head>
    <title>Random Quotes Generator</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
<h1>This is the page index again "HI"</h1>
</body>
</html>