<!DOCTYPE html>
<html>
<head>
    <title>Random Quotes Generator</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
<p><%=quote.quote%></p>
<p><%=quote.author%></p>
</body>
</html>